/* @font-face {
    font-family: SF-Pro-Expanded-Medium;
    src: url('../Fonts/SF-Pro.woff2');
} */

/* @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body
{
    font-family: 'Dela Gothic One', sans-serif;
} */